* {
  margin:0;
  padding:0;
  text-align:center;
  font-style: italic;
  background-color: #ffd6ad;
}

h1 {
  height:5rem;
  line-height:5rem;
  color:black;
  border-radius:.4rem;
  display:inline-table;
  margin-top:2rem;
  padding:0.1em 0.4em;
  color:#663399;  
  font-size:3.5rem;

}
.choices {
  display:flex;
  justify-content:space-evenly;
  margin-top:2rem;
}
.choice {
  height:18rem;
  width:18rem;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:50%;
}
.choice:hover {
  background-color:#ffb452;
}
button {
  height: 17rem;
  width:17rem;
  font-size:12rem;
  border:5px #ff4d6a solid;
  background-color:#ff6f47;
  border-radius:50%;
  font-style:normal;
} 
button:hover {
  border:none;
}

.score-board {
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  margin-top:2rem;
  gap:5rem;
}

#user-score,#comp-score {
  font-size:3rem;
}

.msg-container {
  margin-top:4rem;
}
#msg {
  background-color:#ff6f47;
  color:whitesmoke;
  font-size:4rem;
  display:inline;
  padding:1rem;
  border-radius:1rem;
 
}
 
@media (300px <= width <= 700px) {
  h1 {
    font-size:2rem;
  }
  .choices {
   width:100vw;
  }
  .choice {
    width:30vmin;
    height:30vmin;
    border-radius:50%;
    margin-top:4rem;
  }
  button{
    width:30vmin;
    height:30vmin;
    font-size:12vmin;
  }
  .msg-container {
    height:20vh;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  #msg {
    font-size:1.5rem;
    border-radius:2rem;
    margin:0 0.5rem;
    margin-top:1rem;
  }
  .score-board {
    font-size: 2.1rem;
    margin-top:5rem;
    gap:5rem;
  }
  
  #user-score,#comp-score {
    font-size:2rem;
  }
  body{
    margin-top:2rem;
  }
}